/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';

.bg-dark {
    background-color: #383a3b!important;
}

.btn-success {
    color: #f8f9fa;
    border-color: #2893a7;
}
.navbar-dark 
.navbar-brand{
    color: #dc3545;
}

a:not([href]):not([tabindex]) {
    color: azure;
    text-decoration: none;
}

